<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/aspect
         http://www.springframework.org/schema/context/spring-aspect-3.0.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/context/spring-aop-3.0.xsd">
	<!-- 这里是为整个所有引用的xml文件中可能使用系统变量而做的全局配置：context.properties -->
	<context:property-placeholder
		location="classpath:/context/properties/context.properties" />
	<!-- 这里面存放import的组织方式，不存放任何具体的配置信息 -->

	<!-- DataSource配置 -->
	<import resource="datasource/datasource.xml" />

	<!-- 加载特别定义的类的配置 -->
	<import resource="bean/bean-context.xml" />

	<!-- 定时触发器配置 -->
	<import resource="trigger/trigger.xml" />

</beans>
