<!DOCTYPE html>
<html>
<head>
<title>南信一卡通</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="南信一卡通  - 为南信大广大学生提供更贴心的一卡通服务大">
<meta name="keyword" content="南信一卡通 ,南京信息工程大学,一卡通,南信大">
<meta name="author" content="">

<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
<link href="../assets/css/nuist/sb-admin.css" rel="stylesheet">
<link href="../assets/css/nuist/plugins/morris.css" rel="stylesheet">

<link href="../assets/css/nuist/font-awesome.min.css" rel="stylesheet"
	type="text/css">
<link rel="shortcut icon" type="image/x-icon"
	href="../assets/image/ico/nuist/nuist.ico" media="screen" />
$!css
</head>
<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button id="btn-menu" type="button" class="navbar-toggle"
					data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index"><span
					class="glyphicon glyphicon-home" aria-hidden="true">&nbsp</span>南信一卡通</a>
			</div>
			<!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><span class="glyphicon glyphicon-phone"
						aria-hidden="true"></span> $!username <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>#if($!explorer=="微信") <a href="#"> <img
								class="media-object pull-left"
								src="../assets/image/ico/nuist/wechat.ico" alt="">
								&nbsp&nbsp $!explorer登陆
						</a> #elseif($!explorer=="Chrome") <a href="#"> <img
								class="media-object pull-left"
								src="../assets/image/ico/nuist/chrome.ico" alt="">
								&nbsp&nbsp $!explorer登陆
						</a> #elseif($!explorer=="UC") <a href="#"> <img
								class="media-object pull-left"
								src="../assets/image/ico/nuist/uc.ico" alt=""> &nbsp&nbsp
								$!explorer登陆
						</a> #elseif($!explorer=="Safari") <a href="#"> <img
								class="media-object pull-left"
								src="../assets/image/ico/nuist/safari.ico" alt="">
								&nbsp&nbsp $!explorer登陆
						</a> #elseif($!explorer=="火狐") <a href="#"> <img
								class="media-object pull-left"
								src="../assets/image/ico/nuist/firefox.ico" alt="">
								&nbsp&nbsp $!explorer登陆
						</a> #elseif($!explorer=="QQ") <a href="#"> <img
								class="media-object pull-left"
								src="../assets/image/ico/nuist/qq.ico" alt=""> &nbsp&nbsp
								$!explorer登陆
						</a> #elseif($!explorer=="QQ浏览器") <a href="#"> <img
								class="media-object pull-left"
								src="../assets/image/ico/nuist/qqbrowser.ico" alt="">
								&nbsp&nbsp $!explorer登陆
						</a> #elseif($!explorer=="搜狗") <a href="#"> <img
								class="media-object pull-left"
								src="../assets/image/ico/nuist/sougou.ico" alt="">
								&nbsp&nbsp $!explorer登陆
						</a> #end
						</li>
						<li class="divider"></li>
						<li><a href="info"><span class="glyphicon glyphicon-user"
								aria-hidden="true">&nbsp</span>个人信息</a></li>
						<li class="divider"></li>
						<li><a href="score"><span
								class="glyphicon glyphicon-calendar" aria-hidden="true">&nbsp</span>成绩查询</a></li>
						<li class="divider"></li>
						<li><a href="chat"><span
								class="glyphicon glyphicon-comment" aria-hidden="true">&nbsp</span>班级交流</a></li>
						<li class="divider"></li>
						<li><a href="index?signout=1"><span
								class="glyphicon glyphicon-log-out" aria-hidden="true">&nbsp</span>切换用户</a></li>
					</ul></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"><span class="glyphicon glyphicon-usd"
						aria-hidden="true"></span> 余额:$!balance <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="recharge"><span
								class="glyphicon glyphicon-credit-card" aria-hidden="true">&nbsp</span>转账充值</a></li>
						<li class="divider"></li>
						<li><a href="history"><span
								class="glyphicon glyphicon-list-alt" aria-hidden="true">&nbsp</span>
								我的账单</a></li>
					</ul></li>
			</ul>
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<li><a href="info"><span class="glyphicon glyphicon-user"
							aria-hidden="true">&nbsp</span>个人信息</a></li>
					<li><a href="recharge"><span
							class="glyphicon glyphicon-credit-card" aria-hidden="true">&nbsp</span>转账充值</a></li>
					<li><a href="history"><span
							class="glyphicon glyphicon-list-alt" aria-hidden="true">&nbsp</span>我的账单</a></li>
					<li><a href="ranklist"><span
							class="glyphicon glyphicon-list" aria-hidden="true">&nbsp</span>排行榜</a></li>
					<li><a href="score"><span
							class="glyphicon glyphicon-calendar" aria-hidden="true">&nbsp</span>成绩查询</a></li>
					<li><a href="chat"><span
							class="glyphicon glyphicon-comment" aria-hidden="true">&nbsp</span>班级交流</a></li>
					<li><a href="changepwd"><span
							class="glyphicon glyphicon-briefcase" aria-hidden="true">&nbsp</span>修改密码</a></li>
					<li><a href="cardlost"><span
							class="glyphicon glyphicon-link" aria-hidden="true">&nbsp</span>挂失操作</a></li>
					<li><a href="suggest"><span
							class="glyphicon glyphicon-envelope" aria-hidden="true">&nbsp</span>意见反馈</a></li>
					<li><a href="index?signout=1"><span
							class="glyphicon glyphicon-log-out" aria-hidden="true">&nbsp</span>切换用户</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>

		<div id="page-wrapper">

			<div class="container-fluid">

				<!-- /.row -->
				#if($!rowAd)
				<div id="row-ad" class="row">
					<div class="col-lg-12">
						<div class="alert alert-info alert-dismissable">
							<button type="button" class="close" data-dismiss="alert"
								aria-hidden="true">&times;</button>
							<i class="fa fa-info-circle"></i> <strong>推送广告</strong> 推送 <a
								href="#" class="alert-link">链接</a> 方式!
						</div>
					</div>
				</div>
				#end #if($firstPage)
				<div id="row-ad" class="row">
					<div class="col-lg-6">
						<div class="alert alert-info alert-dismissable">
							<button type="button" class="close" data-dismiss="alert"
								aria-hidden="true">&times;</button>
							<i class="fa fa-info-circle"></i> 温馨提示：移动终端登录后，可点击右上角显示菜单栏
						</div>
					</div>
				</div>
				#end
				<!-- /.row -->
				<div class="row">$screen_content</div>
				<div class="row">
					<div class="col-lg-12 col-md-6">
						<div class="row">
							<div class="col-lg-12">
								<ol class="breadcrumb">
									<li class="active">© 2014-2015 super-lbs.com <a
										href="declare" class="alert-link"> 用户隐私</a><a href="developer"
										class="alert-link"> 关于开发者</a></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->

			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- /#page-wrapper -->

	</div>

	<div class="modal center modal-top" id="post-modal">
		<div class="modal-dialog modal-top">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">
						<span class="glyphicon glyphicon-tags" aria-hidden="true">&nbsp</span>消息提示
					</h4>
				</div>
				<div class="modal-body">
					<h4 id="msg">正在提交请求，请稍后...</h4>
					<div id="progressing" class="progress progress-striped active"
						style="display: none">
						<div class="progress-bar progress-bar-success" style="width: 100%"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button id="btn-postconfrim"
						class="btn btn-lg btn-success btn-block" data-dismiss="modal"
						type="button" disabled=true>确认</button>
				</div>
			</div>
		</div>
	</div>
	<!-- script references -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script
		src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	$!js
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?32dd7b0f0ec76f6c6fe6738469fe066a";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
</body>
</html>

